.about {
  background-color: #d3b456;
  background-image: url("../images/about-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #000;
  border-top: 5px solid #ffce70;

  @media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
    background-image: url("../images/about-bg@2x.jpg");
  }

  @media (max-width: 1023px) {
    border-top: 3px solid #ffce70;
  }
}

.about__wrapper {
  @include wrapper;
  padding-top: 75px;
  padding-bottom: 160px;

  @media (max-width: 1600px) {
    padding-left: 150px;
    padding-right: 150px;
  }

  @media (max-width: 1023px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.about__text {
  max-width: 1026px;
  margin: 0 auto;
  margin-bottom: 75px;
  font-size: 30px;
  line-height: 39px;
  text-align: center;

  &--wide {
    max-width: 1280px;
  }

  p {
    margin: 0;
  }

  @media (max-width: 1600px) {
    font-size: 20px;
    line-height: 29px;
    max-width: 780px;
  }

  @media (max-width: 767px) {
    font-size: 17px;
    line-height: 22px;
    text-align: left;
    padding-left: 40px;
  }
}

.about__slogan {
  max-width: 1285px;
  margin: 0 auto;
  margin-bottom: 102px;
  padding-top: 208px;
  padding-bottom: 145px;
  padding-left: 12.4%;
  padding-right: 2%;
  background-image: url("../images/about-slogan-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50px;

  @media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
    background-image: url("../images/about-slogan-bg@2x.jpg");
  }

  h2 {
    margin: 0;
    font-family: "resagokrbold";
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 87px;
    text-transform: uppercase;
    color: #ffffff;
  }

  @media (max-width: 1600px) {
    max-width: 960px;
    margin-top: 65px;
    margin-bottom: 65px;
    h2 {
      font-size: 35px;
      line-height: 1.2;
    }
  }

  @media (max-width: 1023px) {
    margin-right: -20px;
    margin-left: auto;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 45px;
    padding-bottom: 60px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    background-image: url("../images/about-slogan-bg-mobile.png");

    h2 {
      font-size: 30px;
      line-height: 33px;
    }
  }
}
