.promo {
  padding: 0 0 30px;
  background-color: #ab8f50;
  background-image: url("../images/promo-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
    background-image: url("../images/promo-bg@2x.jpg");
  }

  @media (max-width: 1023px) {
    background-attachment: scroll;
    padding-left: 50px;
    padding-right: 50px;
  }

  @media (max-width: 960px) {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 70px;
  }
}

.promo__wrapper {
  // @include wrapper;
  padding-top: 150px;
  padding-bottom: 175px;
  position: relative;

  @media (max-width: 1599px) {
    padding-top: 50px;
    padding-bottom: 150px;
  }

  @media (max-width: 1199px) {
    padding-bottom: 120px;
  }

  @media (max-width: 960px) {
    padding-bottom: 90px;
  }

  @media (max-width: 767px) {
    padding-bottom: 20px;
    padding-top: 25px;
  }
}

.promo__content {
  display: flex;
  justify-content: center;
  position: relative;
  max-width: 1075px;
  margin: 0 auto;

  @media (max-width: 1599px) {
    max-width: 780px;
  }

  // border: 120px solid transparent;

  // border-image: url("../images/frame.png") 142 / /* slice */ 120px 120px 120px
  //   120px / /* width */ 0px 0px 0px 0px /* outset */ round;

  // @media (max-width: 960px) {
  //   border: 40px solid transparent;

  //   border-image: url("../images/frame.png") 140/40px 40px 40px 40px/0px 0px 0px
  //     0px round;
  // }
}

.promo__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // max-width: 1800px;
  transition: all 1s ease;
  width: 100%;
  margin: 0;
  font-family: "resagokrbold";
  font-weight: normal;
  font-size: 150px;
  /* or 22% */

  text-align: center;

  color: #ffffff;
  text-shadow: 2px 2px 2px #000;

  span {
    display: block;
    font-size: 100px;
  }

  @media (max-width: 1599px) {
    font-size: 110px;

    span {
      font-size: 80px;
    }
  }

  @media (max-width: 1400px) {
    font-size: 70px;

    span {
      font-size: 60px;
    }
  }

  @media (max-width: 1023px) {
    font-size: 50px;

    span {
      font-size: 30px;
    }
  }

  @media (max-width: 767px) {
    font-size: 25px;
    top: 65%;

    span {
      font-size: 20px;
    }
  }

  // img {
  //   display: block;
  //   width: 100%;

  //   margin: 0 auto;
  // }

  &.animated {
    transform: translate(-50%, -80%) scale(0.5);
    top: 100%;

    @media (max-width: 767px) {
      transform: translate(-50%, 0) scale(0.8);
    }
  }
}

.promo__video {
  display: block;
  width: 100%;
  height: auto;

  // &.frame {
  //   border-image: url("../images/frame.png") 142 / /* slice */ 120px 120px 120px
  //     120px / /* width */ 0px 0px 0px 0px /* outset */ round;

  //   @media (max-width: 960px) {
  //     border-image: url("../images/frame.png") 140/40px 40px 40px 40px/0px 0px
  //       0px 0px round;
  //   }
  // }
}

.promo__video-link {
  display: flex;
  width: 180px;
  height: 180px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;

  &:hover {
    opacity: 0.6;
  }
}

.promo__video-wrapper {
  padding: 9%;
  background-image: url("../images/video-frame.png");
  background-position: center top;
  background-size: contain;
  background-repeat: no-repeat;
  // box-shadow: 0 0 15px 2px #000;
  // width: 100%;
  // height: 0;
  // padding-top: 56.97%;
  // position: relative;
  // overflow: hidden;

  // video {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  // }
}
